{% extends 'home.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% block content %}
  <section class="section-login">
   
    <div class="img-login">
      <img src="{% static 'images/3.png' %}" alt="" class="imagem-top">
    </div>

    <div class="text-title-login">
      <h2 class="title-login">Fazer login</h2>
    </div>
    <div class="login">
      <form action="{% url 'login' %}" method="POST" autocomplete="off" class="form-login">
        {% csrf_token %}
        {{ form.errors }}

        <label for="{{ form.username.id_for_label }}" class="label-login">Email</label>
        {{ form.username }}

        <label for="{{ form.password.id_for_label }}" class="label-login">Senha</label>
        {{ form.password }}

        <button type="submit" class="btn-login">Login</button>
      </form>
    </div>
  </section>
  {% endblock %}

  {% block newslatter %}
  {% endblock %}
</body>
</html>