{% extends 'home.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% block content %}
  {% for book in books %}  
    <div>
        <p>{{ book.book.name }}</p>
        <img src="{{book.book.image.url}}" alt="">
        {% if not book.devolution %}
        <form action="{% url 'reserve_devolution' book.pk %}" method="post">
          {% csrf_token %}
          <button type="submit">Devolver livro</button>
        </form>
        {% endif %}
    </div>
    {% endfor %}
  {% endblock %}
</body>
</html>