{% extends 'home.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% block content %}
  <div class="container-reset flex flex-col justify-center items-center">
    <div class="flex flex-col justify-center items-center pb-12">
      <p class="text-2xl font-bold pt-5">Informe seu email</p>
    </div>

    <div class="flex flex-col justify-center items-center w-full">
      <form action="" method="post" class="flex flex-col w-2/4 justify-center justify-items-center">
        {% csrf_token %}
        {{ forms.errors }}

        <label for="{{ form.email.id_for_label }}" class="pb-4">Email</label>
        {{ form.email }}

        <button type="submit" class="btn btn-primary p-2 w-24 m-5">Enviar</button>
      </form>
    </div>
  
  {% endblock %}
</body>
</html>