{% extends 'home.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
{% block content %}
  <main class="flex flex-col justify-start items-start">
    <div class=" flex felx-col justify-center items-center">
      <form action="" method="post" class="flex flex-col items-start w-6/12">

        {% csrf_token %}

      {{form.as_p}}

      <button type="submit" class="btn btn-primary p-2 w-24 m-5">Confirmar</button>
      </form>

    </div>
  </main>
  {% endblock %}

</body>
</html>