* {
  box-sizing: border-box;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  background-color: #131920;
  justify-content: space-between;
  height: 100px;
}

div.logo {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 20%;
}

h1.text {
  color: #FAFAFA;
  font-size: 25px;
  
}

a.a-login {
  color: white;
  font-size: 18px;
  padding-right: 18px;
}

li.icons {
  display: inline-block;
}

div.form-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

form.form-top {
  width: 90%;
}

nav.nav-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

li.icons {
  padding: 5px;
  color: white;
}

#searchs {
  width: 80%;
  height: 30px;
}

li.buttons-header {
  display: inline-block;
  padding: 20px;
  margin: 20px;
  color: white;
}

div.image-library {
  max-width: 200px;
  padding-bottom: 80px;
}

img.img-library {
  width: 1340px;
  height: 350px;
}

img.img-top {
  width: 60%;
}

nav.nav-second {
  display: flex;
  background-color: #232F3E;
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: center;
}

div.text-about-library {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-left: 5px;
}

h2.title {
  border-bottom: solid red;
  font-size: 50px;
  padding-left: 30px;
}

p.paragraph {
  line-height: 25px;
  font-size: 20px;
  width: 700px;
  text-align: justify;
}

.into-biblioteca {
  width: 500px;
  padding-left: 20px;
}

div.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

img.second-image {
  width: 50%;
  padding-right: 20px;
}

div.card {
  border: solid 0.5px darkgrey;
  text-align: center;
  padding: 20px;
  margin-left: 30px;
  background-color: #FAFAFA;
  margin-bottom: 20px;
}

p.card-text {
  line-height: 30px;
}

div.container-fluid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 100px;
  height: 600px;
}

div.categories {
  display: flex;
  flex-direction: column;
  height: 900px;
  text-align: inherit;
  background-color: #FAFAFA;
  padding-top: 20px;
}

h2.text {
 text-align: center;
 padding: 20px;
}

#catalog {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.list-categories {
  padding: 5px;
}

a{
  text-decoration: none;
  color: darkgray;
}

div.button-login {
  display: flex;
  justify-content: center;
  align-items: center;
}

input.search {
  background-color: #f3a847;
  color: black;
  border: none;
  font-size: 15px;
  padding: 6px;
}

/* ESTILIZAÇÃO DA PÁGINA (book_detail.html) */
div.book-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}


div.container-detail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

p.p-detail {
  width: 50%;
  line-height: 20px;
  margin-left: 30px;
  padding-top: 20px;
  text-align: justify;
}


li {
  display: inline-block;
}

li.title-icons {
  padding: 20px;
}

li.icons-detail {
  padding: 20px;
  padding-top: 2px;
}

div.informations {
 padding: 20px;
}

.checkout-reserve {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 150px;
  margin-left: 20px;
  text-align: center;
}

.warner-message {
  text-decoration: dotted ;
  color: green;
  font-size: 15px;
}

.disponibility {
  background-color: transparent;
  border-radius: 20px;
  background-color: #f3a847;
  padding: 10px;
  margin-top: 20px;
  border: transparent;
  cursor: pointer;
}

.disponibility:hover {
  background-color: #c28638;
  transition: 0.3s all;
}

.not-disponibility {
  color: red;
  font-size: 15px;
}

.quantity {
  font-size: 12px;
}